# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Lecture 01.iml
# Datasource local storage ignored files
/../../../../../../../../../:\MCT\Exchange Year\Game Development\Lecture 01\Lecture 01\.idea\.idea.Lecture 01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
